.cloud-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.cloud-container-fix {
  height: 600px;
}
.masonry {
  -webkit-column-count: 4;
  -webkit-column-gap: 1em;
  padding: 0px 50px;
  margin-bottom: 20px;
  -webkit-backface-visibility: hidden;
}
@media (max-width: 758px) {
  .masonry {
    -webkit-column-count: 2;
    padding: 0px 10px;
  }
}
.item {
  background-color: #fff;
  border: 1px dashed #202020;
  display: inline-block;
  margin: 0px;
  width: 100%;
  padding: 10px;
  margin: 5px 2.5px 5px 2.5px;
  border-radius: 20px;
  -webkit-transition: all 500ms;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}
.item img {
  border-radius: 50%;
  display: inline;
  width: 50px;
}
.item p {
  font-size: 0.9em;
  margin-top: 15px;
}
.item h5 {
  margin: 0px;
  margin-top: 5px;
  font-weight: 900;
}
.item:hover {
  background-color: #202020;
  color: #fff;
  -webkit-transform: scale(1.17);
  transform: scale(1.17);
  box-shadow: 0px 2px 10px #202020;
}
.item:hover h5 {
  color: #fff;
}
.item:hover img {
  border: 2px solid #fff;
}
.cloud-card {
  overflow: hidden;
  z-index: 0;
  background-color: #fff;
  box-shadow: 1px 1px 8px #202020;
  display: inline-block;
  position: absolute;
  padding: 10px;
  width: 250px;
  -webkit-transition: all 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 20px;
}
.cloud-card img {
  border-radius: 50%;
  display: inline;
  width: 40px;
}
.cloud-card p {
  font-size: 0.9em;
  margin-top: 5px;
}
.cloud-card h5 {
  margin: 0px;
  margin-top: 5px;
  font-weight: 900;
}
.cloud-card:hover {
  z-index: 99999;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
